<div class="chat-block p-2 border-b-[1px] hover:shadow-inner shadow-zinc-700 dark:shadow-zinc-200 border-white gap-2">
    <div class="h-10 w-10 sunbx">
        <img class="w-full max-h-full" src="/Sources/newflwer.png" alt="">
    </div>
    <div class="details w-full">
        <div class="listHead flex text-sm flex-row justify-between w-full">
            <h4>Rachel</h4>
            <p class="time">9:45</p>
        </div>
        <div class="message_p text-sm">
            <p>How are you?</p>
        </div>
    </div>
</div>