<div class="follow__card bg-[#DFDFDF] dark:bg-[#1c1c1c]">
    <div class="follow__content bg-[#DFDFDF] dark:bg-[#1c1c1c] gap-1">
        <div class="follow__img">
            <img src=<%= profileImage %> alt="">
        </div>
        <div class="follow__details bg-[#DFDFDF] dark:bg-[#1c1c1c]">
            <span class="follow__name">
                <%= name %>
            </span>
        </div>
    </div>
    <a href="#" class="px-2 py-1 bg-violet-600 text-zinc-200 mr-1 rounded-lg dark:hover:bg-blue-700">Follow</a>
</div>