<div class="follow__card">
    <div class="follow__content">
        <div class="follow__img">
            <img src="https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <div class="follow__details">
            <span class="follow__name">
                fur
            </span>
        </div>
    </div>
    <a href="#" class="px-2 py-1 bg-violet-800 mr-1 rounded-lg dark:hover:bg-blue-700">Follow</a>
</div>