<div class="pt-2 box-border carousel-item relative h-full w-full flex justify-center">
    <img class="shadow-white shadow-lg carousel-status-img opacity-50" src="https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
    <div class="absolute bottom-1">
      <div class="flex flex-row items-center gap-2">
        <img class="h-12 w-12 rounded-full" src= <%= src %> alt="">
        <span><%= name %></span>
      </div>
    </div>
</div>