<div class="carousel w-full h-full  bg-[#DFDFDF] dark:bg-[#1c1c1c]">
    <div class="py-2 box-border carousel-item h-full w-full flex justify-center">
      <img class="carousel-status-img" src="https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
    </div>
    <div class="py-2 box-border carousel-item h-full w-full flex justify-center">
      <img class="carousel-status-img" src="https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
    </div>
    <div class="py-2 box-border carousel-item h-full w-full flex justify-center">
      <img class="carousel-status-img" src="https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
    </div>
    <div class="py-2 box-border carousel-item h-full w-full flex justify-center">
      <img class="carousel-status-img" src="https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
    </div>
</div>