*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.banner {
    background-color: rgb(85, 95, 200);
    height: 200px;
    background: url("/Sources/xd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.small-font {
    font-size: 16px;    
}

h2{
    padding: 0px 15px;
}

.profile {
    position: relative;
    bottom: 53px;
}

.profile img{
    height: 90px;
    width:90px;
    border-radius: 50%;
}
.main{
    margin: 0px auto;
    display:flex;
    flex-flow:column;     
}

.bio {
    text-align: center;
    padding: 10px;
    max-width: 700px;
}

.center {
    text-align: center;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcenter1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
    height: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin:20px;
}

.mid{
    /* height:5%; */
    display: flex;
    flex-flow: column;
    align-items: center;
    /* align-items: center; */
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.links-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.btn {
    width: 150px;
    padding: 8px;
    margin: 5px;
    border: none;
    text-align: left;
}

.btn {
    --c: #6B21A8;
    color: var(--c);
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

.btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 1s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn:hover {
    color: black;
}

.btn:hover span {
    transform: translateY(0) scale(4);
}

.btn span:nth-child(1) {
    --n: 1;
}

.btn span:nth-child(2) {
    --n: 2;
}

.btn span:nth-child(3) {
    --n: 3;
}

.btn span:nth-child(4) {
    --n: 4;
}



.main-link-cont {
    height: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin:20px;
    margin-top: 50px;
}

.fa {
    padding: 5px;
    width: 20px;
}

@keyframes back {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 1px 1px 2px 3px red;
    }
}

@media screen and (max-width: 736px) {
    .main-link-cont {
        grid-template-columns: repeat(2, 1fr);
    }

    .flexcenter {
        justify-content: left;
    }
}

@media screen and (max-width: 470px) {
    .main-link-cont {
        grid-template-columns: repeat(1, 1fr);
    }

    .flexcenter {
        justify-content: left;
    }
}