<div class="main">
    <div class="banner"></div>
    <div class="top">
        <div class="Followers right">   
            <h2 class="small-font font-bold">165</h2>
            <p class="small-font">Friends</p>
        </div>
        <div class="profile flexcenter1"><img class="shadow-lg shadow-zinc-900" src="/Sources/dpic.jpg" alt=""></div>
        <div class="Following left">
            <h2 class="small-font font-bold">105</h2>
            <p class="small-font">Following</p>
        </div>
    </div>

    <div class="mid">
        <div class="name font-bold">
            <h3>ANDA PRASAD Lorem</h3>
        </div>
        <div class="bio">
            <p class="small-font">A web developer with MERN Stack knowledge. A web developer with MERN Stack knowledge. A web developer with MERN Stack knowledge</p>
        </div>
    </div>
    <div class="end">

    </div>

    <div class="main-link-cont">
        <div class="flexcenter">
            <div class="links-container">
                <a>
                    <button class="btn">
                        <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; Edit Profile
                        <span></span><span></span><span></span><span></span>
                    </button>
                </a>
                <a>
                    <button class="btn">
                        <i class="fa fa-share" aria-hidden="true"></i> &nbsp; Share Profile
                        <span></span><span></span><span></span><span></span>
                    </button>
                </a>
                <a>
                    <button class="btn">
                        <i class="fa fa-file-image" aria-hidden="true"></i> &nbsp; My Posts
                        <span></span><span></span><span></span><span></span>
                    </button>
                </a>
                <a>
                    <button class="btn">
                        <i class="fa fa-cogs" aria-hidden="true"></i> &nbsp; User Settings
                        <span></span><span></span><span></span><span></span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    
</div>