* {
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #3f3f3f;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: rgb(244, 244, 75);
}

.toggleButton {
  position: absolute;
  right: 2rem;
  top: 20px;
}

.lottie{
    width: 100%;
}

.containerhai{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 5px 4px -1px rgb(0 0 0 / 20%), 0px 4px 4px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.containerhai .inputhai{
  box-shadow: 0px 3px 2px -1px rgb(0 0 0 / 20%), 0px 4px 2px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

@media (max-width:768px) {
  .imageHolder{
    display: none;
  }
  .containerhai{
    width: 100%;
    height: 70vh;
    min-height: 400px ;
  }

  .screenHolder{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
